<a href="https://colab.research.google.com/github/DeepakSaiPaty/Deepaksai_INFO5731_Spring2020/blob/master/comp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
pip install GetOldTweets3

Requirement already satisfied: GetOldTweets3 in /usr/local/lib/python3.6/dist-packages (0.0.11)
Requirement already satisfied: pyquery>=1.2.10 in /usr/local/lib/python3.6/dist-packages (from GetOldTweets3) (1.4.1)
Requirement already satisfied: lxml>=3.5.0 in /usr/local/lib/python3.6/dist-packages (from GetOldTweets3) (4.2.6)
Requirement already satisfied: cssselect>0.7.9 in /usr/local/lib/python3.6/dist-packages (from pyquery>=1.2.10->GetOldTweets3) (1.1.0)

In [8]:
pip install -r requirements.txt

Collecting lxml==3.5.0
  Using cached https://files.pythonhosted.org/packages/8b/be/ed850baac891aca25c832fb8d7b9c0e7a5077a30e336d95ffc7d649aaa06/lxml-3.5.0.tar.gz
Processing /root/.cache/pip/wheels/88/46/56/64827a3a40b94ce29e5d61ebc82deec2e2ee9695c55b0549ad/pyquery-1.2.10-cp36-none-any.whl
Requirement already satisfied: cssselect>0.7.9 in /usr/local/lib/python3.6/dist-packages (from pyquery==1.2.10->-r requirements.txt (line 2)) (1.1.0)
Building wheels for collected packages: lxml
  Building wheel for lxml (setup.py) ... error
  ERROR: Failed building wheel for lxml
  Running setup.py clean for lxml
Failed to build lxml
Installing collected packages: lxml, pyquery
  Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
    Running setup.py install for lxml ... error
  Rolling back uninstall of lxml
  Moving to /usr/local/lib/python3.6/dist-packages/lxml-4.2.6.dist-info/
   from /usr/local/lib/python3.6/dist-packages/~xml-4.2.6.dist-info
  Moving to /usr/local/lib/python3.6/dist-packages/lxml/
   from /usr/local/lib/python3.6/dist-packages/~xml
ERROR: Command errored out with exit status 1: /usr/bin/python3 -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-y8t5oex3/lxml/setup.py'"'"'; __file__='"'"'/tmp/pip-install-y8t5oex3/lxml/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record /tmp/pip-record-965b9r1z/install-record.txt --single-version-externally-managed --compile Check the logs for full command output.

In [0]:
def get_twitter_info():
    tweet_df["tweet_text"] = tweet_df["got_criteria"].apply(lambda x: x.text)
    tweet_df["date"] = tweet_df["got_criteria"].apply(lambda x: x.date)
    tweet_df["hashtags"] = tweet_df["got_criteria"].apply(lambda x: x.hashtags)
    tweet_df["link"] = tweet_df["got_criteria"].apply(lambda x: x.permalink)

In [0]:
#set search variables
import pandas as pd
import GetOldTweets3 as got
keyword = "#covid-19"
oldest_date = "2020-02-11"    
newest_date = "2020-03-20"
locations =["faridpur"]

number_tweets = 10000        #per location

#get old tweets
tweetCriteria_list = []
for location in locations:
  try:
    tweetCriteria = got.manager.TweetCriteria().setQuerySearch(keyword)\
                                           .setSince(oldest_date)\
                                           .setUntil(newest_date)\
                                            .setNear(location)\
                                           .setMaxTweets(number_tweets)
    tweetCriteria_list.append(tweetCriteria)
  except:
    continue   
#create twitter info for each city
tweet_dict = {}
for criteria, location in zip(tweetCriteria_list, locations):
    tweets = got.manager.TweetManager.getTweets(criteria)
    tweet_dict[location] = tweets
    
#create df
tweet_df = pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in tweet_dict.items() ]))
tweet_df['tweet_count'] = tweet_df.index
tweet_df = pd.melt(tweet_df, id_vars=["tweet_count"], var_name='City', value_name='got_criteria')
tweet_df = tweet_df.dropna()

#extract twitter information
get_twitter_info()
tweet_df = tweet_df.drop("got_criteria", 1)
tweet_df.head()
#tweet_df['date'] = tweet_df['date'].str.split(' ').str[0]
#export
tweet_df.to_csv("bang_6.csv")

In [56]:
tweet_df

       tweet_count  ...                                               link
0                0  ...  https://twitter.com/nishitahaque/status/124060...
1                1  ...  https://twitter.com/mumtaj97/status/1240303487...
10000            0  ...  https://twitter.com/Danielle61574/status/12407...
10001            1  ...  https://twitter.com/oui_Le_bon/status/12407901...
10002            2  ...  https://twitter.com/the_icehouse/status/124079...
...            ...  ...                                                ...
19995         9995  ...  https://twitter.com/elcomercio_peru/status/124...
19996         9996  ...  https://twitter.com/ThaiPBSNews/status/1240784...
19997         9997  ...  https://twitter.com/VictorAlvarad12/status/124...
19998         9998  ...  https://twitter.com/ymy_yusuke/status/12407840...
19999         9999  ...  https://twitter.com/bumblebryx/status/12407840...

[10002 rows x 6 columns]