<a href="https://colab.research.google.com/github/DeepakSaiPaty/Deepaksai_INFO5731_Spring2020/blob/master/Copy_of_In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise**

(1) Write a Python program to calculate the length of a string.

In [0]:
# write your answer here
a=input('enter the string=')
print(len(a))

enter the string=deepak sai paty
15

(2) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [0]:
# write your answer here
def count_chars(str1):
    dict = {}
    for n in str1:
        keys = dict.keys()
        if n in keys:
            dict[n] += 1
        else:
            dict[n] = 1
    return dict
val=input('Enter the word to know number of characters=')
print(count_chars(val))

Enter the word to know number of characters=deepak
{'d': 1, 'e': 2, 'p': 1, 'a': 1, 'k': 1}

(3) Write a Python program to sum all the items in a list

In [0]:
# write your answer here
sum = 0
list1 = [11, 5, 17, 18, 21]  
for ele in range(0, len(list1)):
  sum =sum + list1[ele] 
print("Sum of all elements in given list: ", sum)

Sum of all elements in given list:  72

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. 

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [0]:
# write your answer here
def change_char(str1):
  char = str1[0]
  str1 = str1.replace(char, '$')
  str1 = char + str1[1:]
  return str1
val=input('Enter the word=')
change_char(val)

Enter the word=restart

'resta$t'

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$

In [0]:
# write your answer here
def form(a,b):
  s=3.14*(1+a/b)**3
  print(s)
form(3,4)

16.8284375

(6) Write a Python program to concatenate following dictionaries to create a new one. 

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [0]:
# write your answer here
dic1 = {1:10,2:20} 
dic2 = {3:30,4:40} 
dic3={5:50,6:60}
  
dic2.update(dic3);
dic1.update(dic2); 
  
# changes made in dict2 
print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple.

In [0]:
# write your answer here
student = ("d","e","e","p","a","k","s","a","i",0,0,7)
print("r" in student)
print(5 in student)
print(0 in student)
print("d" in student)

False
False
True
True

(8) Write a Python program to find maximum and the minimum value in a set.

In [0]:
# write your answer here
set=([1,2,3,4,5,12,65,43,90,765,32,54,65,22])
print(max(set))
print(min(set))

765
1

(9) Write a Python program to randomly divide the students in this class into four groups for term projects. Here is the students list:

studnet_list = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216',
                'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080',
                'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']

In [0]:
# write your answer here
from itertools import islice 
import random
studnet_list = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216', 'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080', 'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']
random.shuffle(studnet_list)
split_list = [9,9,9,8] 
# printing original list 
print("The shuffled list is : " + str(studnet_list))  
# printing split list  
print("The split list is : " + str(split_list)) 
temp = iter(studnet_list) 
res = [list(islice(temp, 0, ele)) for ele in split_list] 
# printing result 
print("The resultant split list is : ")
res

The shuffled list is : ['vcd0017', 'laa0240', 'nk0327', 'ak0860', 'km0738', 'sa0753', 'tbl0041', 'vmb0067', 'lg0426', 'sm1515', 'pt0218', 'mj0396', 'ag1121', 'ss1976', 'vk0216', 'lba0043', 'ps0501', 'tpk0023', 'vk0222', 'am1823', 'mk0830', 'pb0283', 'hr0178', 'pk0292', 'bs0490', 'ap0975', 'al0787', 'ss1872', 'dp1080', 'ry0104', 'an0521', 'vp0241', 'ss1872', 'rp0477', 'hn0139']
The split list is : [9, 9, 9, 8]
The resultant split list is :

[['vcd0017',
  'laa0240',
  'nk0327',
  'ak0860',
  'km0738',
  'sa0753',
  'tbl0041',
  'vmb0067',
  'lg0426'],
 ['sm1515',
  'pt0218',
  'mj0396',
  'ag1121',
  'ss1976',
  'vk0216',
  'lba0043',
  'ps0501',
  'tpk0023'],
 ['vk0222',
  'am1823',
  'mk0830',
  'pb0283',
  'hr0178',
  'pk0292',
  'bs0490',
  'ap0975',
  'al0787'],
 ['ss1872',
  'dp1080',
  'ry0104',
  'an0521',
  'vp0241',
  'ss1872',
  'rp0477',
  'hn0139']]